.Guess-input {
  border: 15px solid grey;
  margin: 30px auto;
  margin-bottom: 80px; /* Add extra space at the bottom */
  text-align: center;
  padding: 30px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 600px;
}